.image-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ui-li-desc {
    overflow: visible;
    white-space: normal;
    margin: 0;
}

#lastUpdate {
    margin-top: 5px;
    margin-bottom: 0px;
}

#mainMenu {
    margin-top: 0px;
}